.App {
  text-align: center;
  height: 100%;
  margin: 0;
  padding: 0;
}


.all-flowercards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 18rem;
  margin: 2rem;
}

.container {
  padding: 0;
}

.jumbo-cards{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.jumbotron img {
  width: 100%;
  height: auto;
  object-fit: cover;
}